body{
	padding-top: 50px;	
}

.text-muted{
	color:#C7C6C6;
}

ul.nav, .jumbotron h1{
	font-family: 'Arvo', courier, serif;
}

ul.nav{
	font-size: 13px;
}

footer{
	background-color: #428bca;
	padding-top: 150px;
	padding-bottom: 30px;
	position: relative;
}

#back-to-top{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#back-to-top a{
	color: #333;
}

#get-involved{
	background-color: #f5f5f5;	
}

.maintitle{
	font-family: 'Abel', sans-serif;
	font-weight:bold;
}

.title{
	font-family: 'Abel', sans-serif;
	color:white;
}

.homepage{
	font-family: 'Arvo', sans-serif;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.homepage p{
	font-size: 21px;
	font-weight: 300;
}

.homepage h2, h3{
	font-family: 'Arvo', sans-serif;
	color: #428bca;
}

.homepage a{
	color: #428bca;
}

.homepage a:hover{
	color: #428bca;
	text-decoration: none;
	opacity: .8;
}

.homepage hr{
	border-top: 1px solid #428bca;
	width: 140px;
	margin-top: 15px;
}

.jumbotron{
	text-align: center;	
	background: url('../images/hero_image.jpg');
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
	color:black;
	
}

.jumbotron p{
	margin-bottom: 30px;
	color:white;
	font-weight: 100;
}

.btn-lg{
	font-size: 36px;
}

@media (max-width: 1199px) { 
	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}
}

@media (max-width: 991px) { 
	.jumbotron h1{
		font-size: 44px;
	}
	
	.jumbotron p{
		padding: 0 10px;
	}
	
	#get-involved .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (max-width: 767px) { 
	.jumbotron h1{
		font-size: 24px;
	}
	
	.jumbotron p{
		padding: 0;
		font-size: 16px;
	}
	 
	.btn-lg{
		font-size: 18px;
	}
	
	.homepage p{
		font-size: 18px;
	}
	
	footer img{
		width: 80%;
	}
}